<html>
  <head>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>subtitle system</title>
  <body>
    <div id="title_container">
      <div class=title><img src="src/closed-captioning-solid.svg" class="filter-blue" style="margin-right: 1vw;" width="50" height="50">자막 통합생성 시스템</div>
      <div class=menu>
        <button id="toHome_btn" onclick="location.href='/'"><img class="filter-blue menu_img" src="src/home.png" width="30" height="30" alt="홈">Home</button>
        <button id="toPlay_btn" onclick="location.href='play'"><img class="filter-blue menu_img" src="src/play.svg" width="30" height="30" alt="재생">Player</button>
        <button id="toEdit_btn" onclick="location.href='edit'"><img class="filter-blue menu_img" src="src/edit.png" width="30" height="30" alt="편집">Editer</button>
        <button id="toUser_btn" onclick="location.href='user'" ><img class="menu_img" src="src/edit.png" width="30" height="30" alt="생성"> User</button>
      </div>
    </div>
    <div class="grid_container">
      <div id="video_area">
        <video class="video_content" id="video-1" controls>
          <source type="video/mp4">
          <track onload="onTrackLoad(1);" class="subtitle_content" id="entrack-1" label="English" kind="subtitles" srclang="ko" default>
        </video>
      </div>
      <div id="display-cues-1" class="display-cues">
        <p id="start-point-1"><p>
      </div>

      <!--txt파일 불러와서 수정하고 다시 저장하는 기능-->
        <div id="bar_area">
            <div class="text">자막수정</div>
            <input type="file" id="myFile">
            <div id="output"></div>
        </div>

      <div>
        <input type="file" id="video_file"></input>
        <button id="video_btn" onclick="load_video();">동영상 넣기</button>
      </div>
      <div>
        <input type="file" id="subtitle_file"></input>
        <button id="subtitle_btn" onclick="load_Subtitle();">자막 넣기</button>
      </div>
    </div>


    <!--여기서부터-->
    <script src="js/index.js" type="text/javascript"></script>
    <script src="js/edit.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <!--여기까지는 index.html에 있는거랑 동일-->



    <!--텍스트 파일 가져와서 웹에 보여주는 기능. 그냥 보여주기만 함 vtt파일도 가능. 쓰려면 파일선택 버튼 새로 만들어야함.
    <script>
        function openTextFile() 
        {
            var input = document.createElement("input");
            input.type = "file";
            input.accept = "text/plain"; // 확장자가 xxx, yyy 일때, ".xxx, .yyy"
            input.onchange = function (event) 
            {
                processFile(event.target.files[0]);
            };
            input.click();
        }

        function processFile(file) 
        {
            var reader = new FileReader();
            reader.onload = function () 
            {
                output.innerText = reader.result;
            };
            reader.readAsText(file, "utf-8");
        }
    </script>
    -->

  </body>
</html>