<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>subtitle system</title>
  <body>
    <div id="title_container">
      <div class=title><img src="src/closed-captioning-solid.svg" class="filter-blue" style="margin-right: 1vw;" width="45" height="45">SUBTITLE SYSTEM</div>
      <div class=menu>
        <button id="toHome_btn" onclick="location.href='/'"><img class="filter-blue menu_img" src="src/marker-solid.svg" width="30" height="30" alt="홈">Create</button>
        <button id="toPlay_btn" onclick="location.href='play'"><img class="filter-blue menu_img" src="src/play.svg" width="30" height="30" alt="재생">Player</button>
        <button id="toEdit_btn" onclick="location.href='edit'"><img class="filter-blue menu_img" src="src/edit.png" width="30" height="30" alt="편집">Editer</button>
      </div>
    </div>
    <div class=line></div>
    <div class="grid_container">
      <div id="video_area">
        <video class="video_content" id="video-1" controls>
          <source type="video/mp4">
          <track onload="onTrackLoad(1);" class="subtitle_content" id="entrack-1" label="English" kind="subtitles" srclang="ko" default>
        </video>
      </div>
      <!--<div id="display-cues-1" class="display-cues">
        <p id="start-point-1"><p>
      </div>-->
      <div id="bar_area">
        <div class="text">자막생성</div>
        <div class="filebox">
          <label for="video_file">동영상</label>
          <input type="file" id="video_file"></input>

          <label for="subtitle_file">자막</label>
          <input type="file" id="subtitle_file"></input>
        </div>
        <div id=sub_container>
          <div id=auto_bnt><div>auto</div></div>
          <div id=odf_bnt>odf</div>
          <div id=user_bnt>user</div>
          <div id=sub>
            <div id=menu_select style="font-size: 2rem; margin-top: 15px;">메뉴를 선택하세요</div>
            <div id=auto_area class=area style="display : none;"></div>
            <div id=odf_area class=area style="display : none;">
              <div class="filebox in_odf"> 
                <form method='post' action='upload' enctype="multipart/form-data"></form>
                <label for="upload_file">ODF 파일</label><div id=file_name>input odf file</div>
                <input type='file' id='upload_file' name='upload_file'></input>
              </div>
            </div>
            <div id=user_area class=area style="display : none;">
              <div id="output">
              <table id="user_sub" border="1">
                <tr name='user_tr' id='tr_time_1'>
                  <td>타임라인</td> 
                  <td name="time" id="td_1" contenteditable="true">시간 입력</td>
                  <td><button name="start" onclick="s_time(1);">시작시간</button><button name="end" onclick="e_time(1);">종료시간</button></td>
                </tr>
                <tr name='user_tr' id='tr_sub_1'>
                  <td>자막</td>
                  <td contenteditable="true">자막 입력</td>
                </tr>
              </table>
              <input type='button' value='행추가' onclick='addRow()' />
              <input type='button' value='저장' onclick='download()' />
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class=line></div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="js/index.js" type="text/javascript"></script>
  <script src="js/user.js" type="text/javascript"></script>
  <script src="js/bootstrap.js" type="text/javascript"></script>
</html>