<html>
  <head>
    <!--<script src ="require.js" type="text/javascript"></script>-->
    <script src ="index.js" type="text/javascript"></script>
    <script src="webodf.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="css/bootstrap.css"
    <script type="text/javascript" charset="utf-8">
      function init() {
          var odfelement = document.getElementById("odf"),
              odfcanvas = new odf.OdfCanvas(odfelement);
          odfcanvas.load("myfile2.odt");
          }
      window.setTimeout(init, 0);
    </script>
  </head>
  <body>
    <div id="odf"></div>
    <script src="js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>