<html>
  <head>
    <!--<script src ="require.js" type="text/javascript"></script>-->
    <script src ="index.js" type="text/javascript"></script>
    <script src="webodf.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title>subtitle system</title>
  <body>
    <h1>자막 통합생성 시스템</h1>
    <div id="video_area">
      <video id="video_content" controls>
        <source type="video/mp4">
      </video>
    </div>
    <div>
      <input type="file" id="video_file"></input>
      <button id="video_btn" onclick="load_video();">파일 넣기</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>