<html>
  <head>
    <!--<script src ="require.js" type="text/javascript"></script>-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>subtitle system</title>
  <body>
    <div id="title_container">
      <div class=title><img src="src/closed-captioning-solid.svg" class="filter-blue" style="margin-right: 1vw;" width="45"
          height="45">SUBTITLE SYSTEM</div>
      <div class=menu>
        <button id="toHome_btn" onclick="location.href='/'"><img class="filter-blue menu_img" src="src/marker-solid.svg" width="30" height="30" alt="홈">Create</button>
        <button id="toPlay_btn" onclick="location.href='play'"><img class="filter-blue menu_img" src="src/play.svg" width="30" height="30" alt="재생">Player</button>
        <button id="toEdit_btn" onclick="location.href='edit'"><img class="filter-blue menu_img" src="src/edit.png" width="30" height="30" alt="편집">Editor</button>
      </div>
    </div>
    <div class=line></div>
    <div class="grid_container">
      <div id="video_area">
        <video class="video_content" id="video-1" controls>
          <source type="video/mp4">
          <track onload="onTrackLoad(1);" class="subtitle_content" id="entrack-1" label="English" kind="subtitles" srclang="ko" default>
        </video>
      </div>

      <div class="display-cues">
        <ul class="tabs">
          <li class="tab-link current" data-tab="tab-1" name="sub_tab" id="t1">자막_1</li>
          <li class="tab-link" data-tab="tab-2" name="sub_tab" id="t2">자막_2</li>
          <li class="tab-link" data-tab="tab-3" name="sub_tab" id="t3">자막_3</li>
          <li class="tab-link" data-tab="tab-4" name="sub_tab" id="t4">자막_4</li>
          <li class="tab-link" data-tab="tab-5" name="sub_tab" id="t5">자막_5</li>
        </ul>

        <div id="tab-1" class="tab-content current" name="con_tab">
          <div id="display-cues-1">
            <p id="start-point-1"></p>
          </div>
        </div>
        
        <div id="tab-2" class="tab-content" name="con_tab">
          <div id="display-cues-2">
            <p id="start-point-2"></p>
          </div>  
        </div>

        <div id="tab-3" class="tab-content" name="con_tab">
          <div id="display-cues-3">
            <p id="start-point-3"></p>
          </div>  
        </div>

        <div id="tab-4" class="tab-content" name="con_tab">
          <div id="display-cues-4">
            <p id="start-point-4"></p>
          </div>  
        </div>

        <div id="tab-5" class="tab-content" name="con_tab">
          <div id="display-cues-5">
            <p id="start-point-5"></p>
          </div>  
        </div>
      </div>
    
      <div id="bar_area">
        <div class="text">영상재생</div>
        <div class="filebox">
          <label for="video_file">동영상</label>
          <input type="file" id="video_file"></input>
        
          <label for="subtitle_file">자막</label>
          <input type="file" id="subtitle_file"></input>
        </div>

        <div id = "s_area" class="search_area">
        <!--<div class="text">자막검색</div>-->
        <input id="search_text" type="text">
        <button id="search_btn" onclick="onSearchLoad(1);">자막 검색</button>
        <p id="start-search"><p></p>
      </div>
      </div>
    </div>
    <div class=line></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/index.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>